In [1]:
import pandas as pd
import json
from sqlalchemy import create_engine

In [2]:
# 1. Load the Business Data with explicit UTF-8 encoding
with open('yelp_academic_dataset_business.json', 'r', encoding='utf-8') as f:
    business_data = [json.loads(line) for line in f]
business_df = pd.DataFrame(business_data)

In [3]:
# 2. Load the Checkin Data
# Note: The original image had a potential typo (chicken_data), corrected here.
with open('yelp_academic_dataset_checkin.json', 'r' ,  encoding='utf-8') as f:
    checkin_data = [json.loads(line) for line in f]
checkin_df = pd.DataFrame(checkin_data)

In [4]:
# 3. Load the Review Data
with open('yelp_academic_dataset_review.json', 'r' ,  encoding='utf-8') as f:
    review_data = [json.loads(line) for line in f]
review_df = pd.DataFrame(review_data)

In [5]:
# 4. Load the Tip Data
with open('yelp_academic_dataset_tip.json', 'r' ,  encoding='utf-8') as f:
    tip_data = [json.loads(line) for line in f]
tip_df = pd.DataFrame(tip_data)

In [6]:

# 5. Load the User Data
with open('yelp_academic_dataset_user.json', 'r' ,  encoding='utf-8') as f:
    user_data = [json.loads(line) for line in f]
user_df = pd.DataFrame(user_data)

#  now have five pandas DataFrames:
# business_df, checkin_df, review_df, tip_df, user_df

In [7]:
print(business_df.shape)
print(checkin_df.shape)
print(review_df.shape)
print(tip_df.shape)
print(tip_df.shape)

(150346, 14)
(131930, 2)
(6990280, 9)
(908915, 5)
(908915, 5)

In [8]:
business_df.drop(["attributes" ,"hours"] , axis =1, inplace =True)

In [9]:
engine = create_engine('sqlite:///yelp.db')

In [10]:
def load_dataframe(df, table_name, engine):
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)

In [11]:
load_dataframe(business_df, 'business', engine)
load_dataframe(review_df, 'review', engine)
load_dataframe(user_df, 'user', engine)
load_dataframe(tip_df, 'tip', engine)
load_dataframe(checkin_df, 'checkin', engine)